
 html,
 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: rgb(238, 238, 238);
     font-family: "Montserrat", sans-serif;
     

 }

 a {
    text-decoration: none;
    color: black;
}
 .headerSection {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: auto 100px; */
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #D7D6D6;
   
   
 }
 .headerSection nav ul {
    display: flex;
    gap: 10px;
   
}
.title {
    display:flex;
    justify-content: center;
    align-items: center;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.item-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    width: 80%;
    margin: 30px auto;
}
.header {
    display: flex;
    justify-content: center;
}

.form{
    width: 500px; 
    margin: auto;
  }
  
.container{
    padding:100px;
  }